<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Caller</title>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/caller.css">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script> -->
  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script src="../public/javascripts/caller.js"></script>
  <title>Document</title>
</head>

<body>
  <video controls playsinline autoplay id="screen"></video>
  <br>
  <button id="share">Screen Share!</button>
</body>
</html>