html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#screen {
    display: block;
    position: relative;
    width: 70%;
    height: 50%;
    background-color: lightgray;
    margin: auto;
    margin-top: 2%;
}

#share {
    display: block;
    margin: auto;
}